@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}
<h1>@ViewData["Title"]</h1>

<a class="navbar-brand h5 mb-3" asp-area="" asp-controller="Home" asp-action="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Status</th>
            <th scope="col">Table</th>
            <th scope="col">Food Name</th>
            <th scope="col">Create Date</th>
            <th scope="col">Approve Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Name</td>
                <td>@order.Surname</td>
                <td>@order.Status</td>
                <td>@order.Table</td>
                <td>@order.FoodName</td>
                <td>@order.CreateDate</td>
                <td>@order.ApproveDate</td>
                @if (@order.Status == Status.Pending)
                {
                    <td>
                        <a asp-area="" asp-route-id="@order.Id" asp-controller="Home" asp-action="Edit">Edit</a>
                        <span>|</span>
                        <a asp-area="" asp-route-id="@order.Id" asp-controller="Home" asp-action="Delete">Delete</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>